[submodule "data/context"]
	path = data/context
	url = https://github.com/quanttide/quanttide-context-of-algorithm-engineering.git
	branch = main
[submodule "data/intention"]
	path = data/intention
	url = https://github.com/quanttide/quanttide-intention-of-algorithm-engineering.git
	branch = main
[submodule "data/insight"]
	path = data/insight
	url = https://github.com/quanttide/quanttide-insight-of-algorithm-engineering.git
	branch = main
[submodule "data/profile"]
	path = data/profile
	url = https://github.com/quanttide/quanttide-profile-of-algorithm-engineering.git
	branch = main
